<div class="active-jobs-popup">
    <div class="header">
      <h2 style="font-family: 'Quicksand', sans-serif; font-weight: bold; color: #cc3300;">Cannot deactivate</h2> 
      <hr>
      <h4>It is being used in the following job(s)</h4>
    </div>
    <div class="content">
      <table mat-table [dataSource]="activeJobs.slice(0, 5)">>
        <!-- Job Type Column -->
        <ng-container matColumnDef="jobType">
          <th mat-header-cell *matHeaderCellDef class="column-cell"> Job Name </th>
          <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.jobName }} </td>
        </ng-container>
  
        <!-- Other Columns -->
        <ng-container matColumnDef="jobID">
            <th mat-header-cell *matHeaderCellDef class="column-cell"> Job ID </th>
            <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.jobId }} </td>
          </ng-container>
          
          <!-- <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let job" class="column-cell"> {{ job.startDate }} </td>
          </ng-container> -->
  
          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef class="column-cell"> Start Date </th>
            <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.startDate | date: 'shortDate' }} </td>
          </ng-container>
          
        
        <!-- <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="column-cell"> Active </th>
          <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.active }} </td>
        </ng-container> -->

        <ng-container matColumnDef="maxRecordCountAlarm">
            <th mat-header-cell *matHeaderCellDef class="column-cell"> Max Record Count Alarm </th>
            <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.maxRecordCountAlarm }} </td>
          </ng-container>

        <ng-container matColumnDef="minRecordCountAlarm">
            <th mat-header-cell *matHeaderCellDef class="column-cell"> Min Record Count Alarm </th>
            <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.minRecordCountAlarm }} </td>
          </ng-container>
  
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef class="column-cell"> Created By </th>
          <td mat-cell *matCellDef="let job" class="column-cell center-content"> {{ job.createdBy }} </td>
        </ng-container>
  
        <!-- Add more ng-container blocks for additional columns -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div style="margin-top: 5%;" *ngIf="(activeJobs.length -5) > 1" class="more-jobs">
        <p style="text-align: center;">+ {{ activeJobs.length - 5 }} more jobs</p>
      </div>
    </div>
    <div class="footer">
        <div  >
          <button  mat-button class="luxury-modal-button-cancel" (click)="closeDialog()">
            <span class="icon">&#00000;</span> Close
          </button>
        </div>
    </div>   
</div>
