
.clients {
    padding: 20px;
    text-align: center; /* Center-align the content within the container */
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .title-container button {
    margin-right: 70%;
    background-color: #dfceb5;
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effects */
  }
  
  .title-container button:hover {
    background-color: #ebe6df; /* Darker blue background color on hover */
  }
  
  .client-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table horizontally */
  }
  
  .client-table th,
  .client-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .client-table th {
    background-color: #f2f2f2;
  }
  
  .client-item {
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  .client-item:hover {
    background-color: #dfceb5; /* Light orange color on hover */
  }
  
  .action-cell {
    text-align: center; /* Center-align the action buttons */
  }
  
  /* Rest of your styles */

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin: 0;
}

.title-container button {
  margin-right: 70%;
  background-color: #908f8f;
  transition: background-color 0.3s, color 0.3s;
  /* Add smooth transition effects */
}

.title-container button:hover {
  background-color: #ebe6df;
  /* Darker blue background color on hover */
}

/* Center align table cells and their container */
.client-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
  /* Center align the table content */
}


.client-table th,
.client-table td {
  text-align: center;
  /* Center align table cells */
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.client-table th {
  background-color: #f2f2f2;
}


.client-item {
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}

.client-item:hover {
  background-color: #ebe6df;
  /* Light orange color on hover */
}

.action-cell {
  text-align: center;
  /* Center-align the action buttons */
}


.search-box {
  width: 100%;
  /* Adjust the width as needed */
  margin: 0px;
  /* Add margin as needed */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Align the box to the left */
}


/* Style the input field */
mat-input {
  font-size: 16px;
  /* Adjust the font size */
  width: 100%;
  /* Expand the input field to fill the available space */
}

/* Prevent blue outline on input focus */
.form-outline input:focus {
  outline: none;
}

.custom-fab-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe6df;
}

.custom-fab-button mat-icon {
  font-size: 20px; /* Adjust the font size as needed */
}




.making-active-attractive {
  border-radius: 5px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 14px;
}

.making-inactive-attractive {
  border-radius: 5px;
  color: #F44336;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}