<!-- client.component.html -->
<div class="clients">
  <div class="title-container">
    <h2 class="title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">Clients Management</h2>
    <div class="form-outline search-box mb-4">
      <!-- Button with "+" symbol and "Create" text -->
      <button class="custom-button">
        <span class="circle">+</span> Create
      </button>
    </div>
    
  </div>
  <!-- <p>
    <button mat-button (click)="openDialog()">Confirm Delete</button>
  </p> -->
  
  
  
  <!-- Button to open the generic popup -->
  <!-- <button mat-button (click)="openClientPopup()">Open Client Popup</button> -->

  <!-- Add the filter icon -->
  <div class="form-outline search-box mb-4">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="search" class="form-control search-input" id="datatable-search-input" placeholder="Search Clients by Name ID & Status">
    <app-client-filter></app-client-filter>
  </div>
  
  
  

  
  <!-- <mat-form-field class="search-box">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      id="searchInput"
      name="searchInput"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange($event)"
      placeholder="Search"
    >
    <button matSuffix mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->

  <!-- Table for displaying clients -->



  <table class="client-table" style="font-family:'Quicksand', sans-serif ;">
    
    <thead>
      <tr>
        <th>ID</th>
        <th>Client Name</th>
        
        <th>Created At</th>
        <th>Updated At</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of displayedClients" class="client-item">
        <td>{{ client.id }}</td>
        <td>{{ client.ClientName }}</td>
        
        <td class="created-info-cell">
          <div class="created-at">{{ client.CreatedAt | date:'medium' }}</div>
          <div class="created-by">
            <span class="created-by-label">Created By: </span>
            <span class="created-by-cell">{{ client.CreatedBy }}</span>
          </div>
        </td>
        
        <td class="updated-info-cell">
          <div class="updated-at">{{ client.UpdatedAt | date:'medium' }}</div>
          <div class="updated-by">
            <span class="updated-by-label">Updated By:</span>
            <span class="updated-by-cell">{{ client.UpdatedBy }}</span>
          </div>
        </td>
        <td [style.color]="client.Active ? '#4cf0a1;' : 'red'">
          <ng-container *ngIf="client.Active; else inactive" ><span class="making-active-attractive">{{ 'Active' }}</span></ng-container>
          <ng-template #inactive><span class="making-inactive-attractive">Inactive</span></ng-template>
        </td>
        <td class="action-cell">
          <button mat-icon-button [style.color]="'#0091EA'" (click)="editClient(client)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [style.color]="'#D84315'" (click)="openDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
 
  <!-- Form for creating/editing a client -->
  <div *ngIf="showClientForm" class="client-form">
    <h3>{{ isEditing ? 'Edit Client' : 'Create New Client' }}</h3>
    <form (ngSubmit)="saveClient()">
      <mat-form-field class="full-width">
        <input matInput id="clientName" name="clientName" placeholder="Client Name" [(ngModel)]="clientName" required>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="action-button">{{ isEditing ? 'Update' : 'Create'
          }}</button>
        <button mat-raised-button (click)="cancelEdit()" class="action-button">Cancel</button>
      </div>
    </form>
  </div>

  <app-pagination [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" [length]="clients.length"
    (pageChange)="onPageChange($event)"></app-pagination>
</div>