.clients {
  padding: 20px;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {
  font-size: 20.667px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin-right: auto;
}

.title-container button {
  margin-right: 70%;
  transition: background-color 0.3s, color 0.3s;
  color: white;
  background-color: #F06105;
}

.title-container button:hover {
  background-color: #f3f0ec;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.client-table th,
.client-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.client-table th {
  background-color: #f2f2f2;
}


.client-item {
  transition: background-color 0.3s;
}

.client-item:hover {
  background-color: #dfceb5;
}

.action-cell {
  text-align: center;
}


/* Styles for the title */
.title {
  font-size: 20.667px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.title-container .create-button-container .custom-button {
  margin: 0px;
}

.button-container {
  display: flex;
  align-items: center;
}

.create-button-container {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.custom-button {
  background-color: #007bff;
  /* Button background color */
  color: #fff;
  /* Button text color */
  font-weight: bold;
}

.circle {
  font-size: 24px;
  margin-right: 8px;
}

.button-text {
  font-size: 16px;
}


.title-container button {
  margin-right: 0px;
  
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
  margin-right: 20px;
  /* Add smooth transition effects */
}

.title-container button:hover {
  background-color: #ebe6df;
  color: #e36228
  /* Darker blue background color on hover */
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}


.client-table th,
.client-table td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.client-table th {
  background-color: #f2f2f2;
}


.client-item {
  transition: background-color 0.3s;
}

.client-item:hover {
  background-color: #ebe6df;
}

.action-cell {
  text-align: center;
}


.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  right: 20px;
  color: #999;
  cursor: pointer;
}


mat-input {
  font-size: 16px;
  width: 100%;
}

.form-outline input:focus {
  outline: none;
}

.custom-fab-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe6df;
}

.custom-fab-button mat-icon {
  font-size: 20px;
}




.making-active-attractive {
  border-radius: 5px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 14px;
}

.making-inactive-attractive {
  border-radius: 5px;
  color: #F44336;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.created-info-cell {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.created-at {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}


.created-by-label {
  color: #999;
  font-size: 12px;
}


.created-by-cell {
  font-size: 12px !important;
  font-weight: lighter;
  font-family: sans-serif;
}

.search-input {
  flex-grow: 1;
  font-size: 16px;
  padding-left: 40px;
  outline: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.created-info {
  display: flex;
  flex-direction: column;
}

.search-input::placeholder {
  color: #999;
}

.created-by-cell {
  font-family: 'Times New Roman', Times, serif;
  color: #999;
  /* Light grey color */
  font-size: 12px;
  /* Adjust font size as needed */
}

.filter-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  outline: none;
}


.updated-at {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.updated-by-label {
  color: #999;
  font-size: 12px;
}

.updated-by-cell {
  color: #999;
  font-size: 12px;
  font-weight: lighter;
  font-family: sans-serif;
}

.search-input::placeholder {
  color: #999;
}

.no-data-message {
  font-size: 16px;
  color: #555; /* Adjust the color to your preference */
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd; /* Optional border for styling */
  background-color: #f9f9f9; /* Optional background color for styling */
}