<div class="clients">
  <div class="title-container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">Clients
      Management</h2>
    <div class="form-outline search-box mb-4">
      <button mat-raised-button class="custom-button" (click)="CreateClients()">
        <span class="circle">+</span> Create Client
      </button>
    </div>
  </div>


  <!-- <div style="display: flex; align-items: center;">
    <div style="flex: 1;">
      <app-search [placeholderText]="'Search Client by Name & Code'" (searchQueryChanged)="performClientSearch($event)" (filterChanged)="applyClientFilter($event)"></app-search>
    </div>
    <div style="margin-bottom: 20px;">
      <app-client-filter (filterChanged)="applyClientFilter($event)"></app-client-filter>
    </div>
  </div> -->
  

  <table class="client-table" style="font-family:'Quicksand', sans-serif ;">

    <thead>
      <tr>
        <th>Client Code</th>
        <th>Client Name </th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientss" class="client-item">
        <td>{{ client.clientName }}</td>
        <td>{{ client.clientCode }}</td>
        <td [ngClass]="{ 'active': client.isActive, 'inactive': !client.isActive }">
          {{ client.isActive ? 'Active' : 'Inactive' }}
        </td>
        <td class="action-cell">
          <button mat-icon-button style="border: none; background-color: whitesmoke" (click)="viewClient(client.clientId)">
            <mat-icon>visibility</mat-icon>
          </button>


          <button mat-icon-button [style.color]="'#0091EA'" (click)="openClientModalForEdit(client.clientId)">
            <mat-icon>edit</mat-icon>
          </button>
           <!-- <button mat-icon-button [style.color]="'#D84315'" (click)="deleteClient(client)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="clientss.length === 0" class="no-data-message">
    No data found.
  </div>
<!-- 
  <app-pagination [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" [length]="clients.length"
    (pageChange)="onPageChange($event)"></app-pagination> -->
</div>