/* generic-view.component.css */
.view-container {
    background-color: #e0e0e0; /* Grey background color */
    border-radius: 6px;
    color: #333; /* Dark text color */
    max-width: 900px; /* Set a maximum width for the container */
    margin-left: 5%;
    margin-top: 2%;
    padding: 20px; /* Add padding for spacing */
  }
  
  .additional-data .data-item {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .additional-data .data-item strong {
    font-weight: 600;
  }
  
  /* Define the active and inactive text colors */
  .active-text {
    color: green; /* Green for 'Active' */
  }
  
  .inactive-text {
    color: red; /* Red for 'Inactive' */
  }
  