.clients {
    padding: 20px;
    text-align: center; /* Center-align the content within the container */
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .title-container button {
    margin-right: 70%;
    background-color: #908f8f;
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effects */
  }
  
  .title-container button:hover {
    background-color: #ebe6df; /* Darker blue background color on hover */
  }
  
  .client-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table horizontally */
  }
  
  .client-table th,
  .client-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .client-table th {
    background-color: #f2f2f2;
  }
  
  .client-item {
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  .client-item:hover {
    background-color: #ebe6df; /* Light orange color on hover */
  }
  
  .action-cell {
    text-align: center; /* Center-align the action buttons */
  }
  
  /* Rest of your styles */

  /* Customize the search box */

.search-box {
  width: 300px; /* Adjust the width as needed */
  margin: 20px; /* Add margin as needed */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align the box to the left */
}

/* Style the search icon */
mat-icon {
  color: #333; /* Change the icon color */
  font-size: 24px; /* Adjust the icon size */
}

/* Style the input field */
mat-input {
  font-size: 16px; /* Adjust the font size */
  width: 100%; /* Expand the input field to fill the available space */
}



  