<div class="client">
  <div class="client-content">
    <h2 class="client-title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">Edit Category</h2>

    <form class="form-grid">
      <div class="form-row">
        <mat-form-field class="form-item">
          <input matInput placeholder="Category Name" [(ngModel)]="categoryData.categoryName" name="categoryName" required>
        </mat-form-field>
      </div>  
 
      <div class="form-row">
          <mat-form-field class="form-item">
            <input matInput placeholder="Category Code" [(ngModel)]="categoryData.categoryCode" name="categoryCode" required>
          </mat-form-field>
        </div>  

        <div class="form-row">
          <mat-checkbox [(ngModel)]="categoryData.active" name="categoryActive">Active: </mat-checkbox>
        </div>
      <div class="button-container" style="padding-top: 10px;">
        <button mat-button class="luxury-modal-button-cancel" (click)="goToCategoryScreen()"> <span class="icon">&#10006;</span> Cancel</button>
        <button mat-raised-button class="create-client-button" type="submit" (click)="saveUpdatedCategory()"><mat-icon style="margin-right: 8px;">done_all</mat-icon>Save Changes</button>
      </div>
    </form>
  </div>
</div>
