<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="isSidebarOpen">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <a matLine routerLink="/clients">Clients</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>person</mat-icon>
        <a matLine routerLink="/jobs">Jobs</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <a matLine routerLink="/joblogs">Job Logs</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isSidebarOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      <span>Entegra Data Staging</span>
    </mat-toolbar>
    <!-- Your main content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





