.client {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 7%;
    left: 4%;
}

.client-content {
    text-align: center;
}

.client-title {
    font-size: 24px;
    font-weight: bold; 
    text-align: left;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.create-client-button {
    background-color: #4CAF50;
    color: #fcfbfa;
    font-weight: medium;
    box-shadow: none;
}

.create-client-button:hover {
    background-color: #75b777;
    color: #f3eeeb;
    font-weight: medium;
}

.luxury-modal-button-cancel {
    color: #c93232;
    background-color: rgb(243, 227, 227);
}
.scrollable-column {
    max-height: 270px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the left */
    
}

.column-checkbox {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box; 
}

