<mat-card class="luxury-card">
  <mat-card-header>
    <mat-card-title style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">Create New Template</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="row">
      <mat-form-field class="input-field">
        <input matInput placeholder="Template Name" [(ngModel)]="templateName">
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Select Columns</mat-label>
        <mat-select [(ngModel)]="selectedColumns" multiple>
          <mat-option *ngFor="let column of columns" [value]="column">
            {{ column }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="center-row">
      <mat-form-field>
        <mat-label>Select Category</mat-label>
        <mat-select [(ngModel)]="selectedCategories" multiple>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="button-container">
    <button mat-raised-button class="luxury-modal-button-cancel">Cancel</button>
    <button mat-raised-button (click)="SaveTemplate()" class="create-job-button">Save</button>
  </mat-card-actions>
</mat-card>
