/* Apply a luxury card styling with padding and increased width */
.luxury-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px; /* Add left margin */
  padding: 20px; /* Add padding to the card */
  width: 800px; /* Increase the width of the card to 800px or adjust as needed */
}

/* Style the content within the card */
.content {
  display: flex;
  flex-direction: column;
}

/* Style input fields */
.input-field {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Set fields to 100% width */
}

/* Style two lines of fields side by side */
.half-width {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Add spacing between fields */
  width: 100%; /* Make it take up the full width of the card */
}

/* Style select fields */
.mat-form-field {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 48%; /* Set fields to approximately 48% width to accommodate gap */
}

/* Center the "Next" button */
.center-button {
  display: flex;
  justify-content: center;
}

/* Style the "Next" button */
.next-button {
  background-color: #eb9e5b;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: auto; /* Reset button width */
  margin-right: 0; /* Remove right margin */
}

/* Style the "Next" button on hover */
.next-button:hover {
  background-color: #eb9e5b
}


