<!-- create-template-modal.component.html -->
<div class="modal-overlay">
    <div class="modal-content">
      <h3 style="text-align: center; background-color: antiquewhite; padding: 10px;">Create New Template</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="templateName">Template Name</label>
          <input type="text" id="templateName" name="templateName" [(ngModel)]="templateName" required>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label for="category">Category:</label>
                <mat-select id="category" name="categories" [(ngModel)]="selectedCategory" multiple>
                  <mat-option *ngFor="let category of availableCategories" [value]="category">{{ category }}</mat-option>
                </mat-select>
              </mat-form-field> 
          </div>
        <div class="form-group">
            <mat-form-field>
                <label for="columns">Columns:</label>
                <mat-select id="columns" name="columns" [(ngModel)]="selectedColumns" multiple>
                  <mat-option *ngFor="let column of availableColumns" [value]="column">{{ column }}</mat-option>
                </mat-select>
              </mat-form-field> 
          </div>   
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
  