<div class="luxury-modal-header">
    <h2 class="luxury-modal-title">{{ data.title }}</h2>
    <button mat-icon-button class="luxury-modal-close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="luxury-modal-content">
    <form #modalForm="ngForm">
      <ng-container *ngFor="let field of fields">
        <mat-form-field class="luxury-form-field">
          <input matInput [placeholder]="field.label" [(ngModel)]="formData[field.key]" [name]="field.key" [required]="field.required">
        </mat-form-field>
      </ng-container>
    </form>
  </mat-dialog-content>
  <div mat-dialog-actions class="luxury-modal-actions">
    <button mat-button class="luxury-modal-button" (click)="onNoClick()">Cancel</button>
    <button mat-button class="luxury-modal-button" [disabled]="modalForm.invalid" (click)="onSaveClick()">Save</button>
  </div>
  