<div class="clients">
  <div class="title-container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif; margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">
      Organization Management
    </h2>
  </div>

  <app-search
    [placeholderText]="'Search Organization by Name and code'"
    [searchQuery]="organizationSearchQuery"
    (searchQueryChanged)="performOrganizationSearch($event)"
  ></app-search>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li>
        <div class="client-item">
          <span>{{ node.name }}</span>
          <button mat-icon-button (click)="toggleParentOrgDetailsByCode(node.data.organizationCode)">
            <mat-icon>{{ node.data.showParentOrgDetails ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
          </button>
        </div>
        <ul [class.parent-org-details]="node.data.showParentOrgDetails">
          <ng-container *ngTemplateOutlet="parentOrgDetailsTemplate; context: { orgCode: node.data.parentOrganizationCode }"></ng-container>
        </ul>
      </li>
    </mat-tree-node>
  </mat-tree>

  <div *ngIf="!displayedOrganization.length" class="no-data-message">
    No data found.
  </div>

  <app-pagination [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" [length]="orgs.length" (pageChange)="onPageChange($event)"></app-pagination>
</div>

<ng-template #parentOrgDetailsTemplate let-orgCode="orgCode">
  <ng-container *ngIf="parentOrgsMap[orgCode]">
    <ng-container *ngTemplateOutlet="parentOrgDetailsTemplate; context: { orgCode: parentOrgsMap[orgCode] }"></ng-container>
  </ng-container>
</ng-template>