
.clients {
    padding: 20px;
    text-align: center; 
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .title-container button {
    margin-right: 70%;
    background-color: #dfceb5;
    transition: background-color 0.3s, color 0.3s;  
  }
  
  .title-container button:hover {
    background-color: #ebe6df;  
  }
  
  .client-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;  
  }
  
  .client-table th,
  .client-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .client-table th {
    background-color: #f2f2f2;
  }

  
  .client-item {
    transition: background-color 0.3s; 
  }
  
  .client-item:hover {
    background-color: #dfceb5;  
  }
  
  .action-cell {
    text-align: center;  
  }
   

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
 
.title {
  font-size: 20.667px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  margin: 0;  
}

.title-container .create-button-container .custom-button{
  margin: 0px;
}


.create-button-container { 
  margin-right: 10px;  
  display: flex; 
  align-items: center;
}

.custom-button {
  background-color: #eb9e5b !important;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center; 
  font-size: 14px;
  border-radius: 5%;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #eb9e5b !important;
  background-color: #ffffff;  
  border-radius: 50%; 
  margin-right: 10px; 
  font-size: 20px; 
  font-weight: bold;  
}

.button-text {
  font-size: 16px;  
}


.title-container button {
  margin-right: 70%;
  background-color: #908f8f;
  transition: background-color 0.3s, color 0.3s; 
}

.title-container button:hover {
  background-color: #ebe6df; 
}
 
.client-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center; 
}


.client-table th,
.client-table td {
  text-align: center; 
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.client-table th {
  background-color: #f2f2f2;
}


.client-item {
  transition: background-color 0.3s; 
}

.client-item:hover {
  background-color: #ebe6df; 
}

.action-cell {
  text-align: center; 
}


 

 
mat-input {
  font-size: 16px; 
  width: 100%; 
}
 
.form-outline input:focus {
  outline: none;
}

.custom-fab-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe6df;
}

.custom-fab-button mat-icon {
  font-size: 20px;  
}




.making-active-attractive {
  border-radius: 5px;
  color: #4CAF50;
  font-weight: bold;
  font-size: 14px;
}

.making-inactive-attractive {
  border-radius: 5px;
  color: #F44336;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.created-info-cell {
  display: flex;
  flex-direction: column;
  text-align: left;
}
 
.created-at {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;  
}
 
.created-by-label {
  color: #999;  
  font-size: 12px;
  text-align: right;
}
 
.created-by-cell {
  font-size: 16px; 
  font-weight: bold;
  text-align: right;
}

.search-input {
  flex-grow: 1;  
  font-size: 16px;
  padding-left: 40px;  
  outline: none;
  color: #333;  
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.created-info {
  display: flex;
  flex-direction: column;
}

.search-input::placeholder {
  color: #999; 
}

.created-by-cell {
  color: #999;  
  font-size: 14px;  
}
 
.filter-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  outline: none;
}
 

.updated-at {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;  
}
 
.updated-by-label {
  color: #999;  
  font-size: 12px;
}
 
.updated-by-cell {
  color: #999;  
  font-size: 14px;  
  font-weight: bold;
} 

 

.data-templates {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  
  /* Optional: Add some margin to the form for better spacing */
  form {
    margin-top: 20px;
  }
  
 
   
.table-container {
    position: relative; /* Set the container to a relative position */
  }
  
  .data-templates {
    width: 400px;  
    position: absolute; /* Position the dialog absolutely within the container */
    top: 50%; /* Position the dialog vertically in the middle of the container */
    left: 50%; /* Position the dialog horizontally in the middle of the container */
    transform: translate(-50%, -50%); /* Center the dialog both horizontally and vertically within the container */
    background-color: white; /* Background color of the dialog */
    padding: 24px;  
    border-radius: 8px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);   
  }
  
  