<div class="clients">
  <div class="title-container" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">Template
      Management</h2>
    <div class="form-outline search-box mb-4">
      <button mat-raised-button class="custom-button" (click)="createNewTemplate()">
        <span class="circle">+</span> Create Template
      </button>
    </div>
  </div>

  <div style="display: flex; align-items: center;">
    <div style="flex: 1;">
      <app-search 
      [placeholderText]="'Search Template by Name'"
      [searchQuery]="templateSearchQuery"
      (searchQueryChanged)="performTemplateSearch($event)">
    </app-search>    </div>
    <div style="margin-bottom: 20px;">
      <app-client-filter (filterChanged)="applyTemplateFilter($event)"></app-client-filter>
    </div>
  </div>

  

  <div class="table-container">
    <table class="client-table" style="font-family: 'Quicksand', sans-serif;">
      <thead>
        <tr>
          <th>Template Name</th>
          <th>Category</th> 
          <th>Created At</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates" class="template-item">
          <td>{{ template.templateName }}</td> 
          <td class="created-info-cell">
            <div class="created-at">{{ template.category?.categoryName }}</div>
            <div class="created-by">
              <span class="created-by-label">Code : </span>
              <span class="created-by-cell">{{ template.category?.categoryCode }}</span>
            </div>
          </td> 
          <td >
            <div class="created-at">{{ template.createdAt | date:'medium' }}</div>
            <div class="created-by">
              <span class="created-by-label">Created By: </span>
              <span class="created-by-cell">{{ template.createdBy }}</span>
            </div>
          </td>
          <td [ngClass]="{ 'active': template.isActive, 'inactive': !template.isActive }">
            {{ template.isActive ? 'Active' : 'Inactive' }}
          </td>
          <td class="action-cell">

            <button mat-icon-button style="border: none; background-color: whitesmoke" (click)="viewTemplate(template.templateId)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button [style.color]="'#0091EA'" (click)="editTemplate(template.templateId)">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button mat-icon-button [style.color]="'#D84315'" (click)="deleteTemplate(template.templateID)">
              <mat-icon>delete</mat-icon>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>


    <div *ngIf="templates.length === 0" class="no-data-message">
      No data found.
    </div>

  </div>

  <app-pagination [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" [length]="dataTemplates.length"
    (pageChange)="onPageChange($event)"></app-pagination>

</div>