<div class="popup">
  <div class="popup-header">
    <h2>{{ data.title }}</h2>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>

  </div>
  <div class="popup-content">

    <ng-container *ngIf="data.isUpdate; else createContent" >
      <!-- Content for update -->
      <p>Update existing value:</p>
      <mat-form-field class="mat-form-field" style="padding: 0px !important">
        <input matInput [(ngModel)]="data.updatedValue" placeholder="{{ data.inputPlaceholder }}">
      </mat-form-field>
    </ng-container>
    <ng-template #createContent>
      <!-- Content for create -->
      <p>{{ data.content }}</p>
      <mat-form-field class="mat-form-field">
        <input matInput [(ngModel)]="data.input" placeholder="{{ data.inputPlaceholder }}">
      </mat-form-field>
    </ng-template>
    <!-- Add more text fields as needed -->
    <div class="buttons">
      <div class="component1">
      <button mat-button (click)="closeDialog()">{{ data.cancelText }}</button>
    </div>
    <div class="component2">
      <button mat-button [mat-dialog-close]="data.isUpdate ? data.updatedValue : data.input" color="primary">
        {{ data.isUpdate ? data.updateText : data.createText }}
      </button>
    </div>
    </div>
  </div>
</div>



