<div class="job">
  <div class="job-content">
    <h2 class="job-title">Jobs Management</h2>

    <form (ngSubmit)="createJob()" class="form-grid">
      <div class="form-row">
        <mat-form-field class="form-item">
          <input matInput placeholder="Job Name" [(ngModel)]="jobName" name="jobName" required>
        </mat-form-field>

        <mat-form-field class="form-item">
          <mat-label>Extraction Frequency</mat-label>
          <mat-select [(ngModel)]="extractionFrequency" name="extractionFrequency" required (change)="onExtractionFrequencyChange()">
            <mat-option value="weekly">Weekly</mat-option>
            <mat-option value="monthly">Monthly</mat-option>
            <mat-option value="Once">Once</mat-option>
            <mat-option value="daily">Daily</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- More form fields go here... -->

      <div class="form-row">
        <mat-form-field class="form-item">
          <input matInput placeholder="Organization Name" [(ngModel)]="organizationName" name="organizationName" required>
        </mat-form-field>

        <mat-form-field class="form-item">
          <input matInput placeholder="Client Name" [(ngModel)]="clientName" name="clientName" required>
        </mat-form-field>
      </div>

      <!-- Start Date and End Date side by side -->
      <div class="date-row">
        <mat-form-field class="date-item">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" name="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="date-item">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" name="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Create Job button -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="goToNextComponent()">Create Job</button>
      </div>
    </form>
  </div>
</div>
