/* Apply a luxury card styling to the job management container */
.job {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px; /* Add margin to the container */
  padding: 20px; /* Add padding to the container */
  width: 600px; /* Set a fixed width for the container */
}

  /* Add these CSS styles to your stylesheet */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item, .date-item {
  flex: 1;
  margin-right: 10px; /* Adjust the margin as needed to create space between fields */
}

.button-container {
  margin-top: 20px; /* Add margin to separate the button from the fields */
  margin-left: 40%;
}
