.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 7%;
  left: 4%;
 width: 60%; 
}

.job {
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.template-container {
  flex: 1;
  margin-left: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.template-container-no-shadow {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
}
.job-content {
  text-align: center;
  flex: 1;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item,
.date-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
  gap: 10px;  
}

.create-job-button {
  background-color: #4CAF50 !important;
  color:#fcfbfa;
  font-weight: medium;
  box-shadow: none;
}

.create-job-button:hover {
  background-color: #75b777 !important;
  color:#f3eeeb;
  font-weight: medium;
}
 
.luxury-modal-button-cancel {
  color: #c93232;
  background-color: rgb(243, 227, 227);
} 

.full-width {
  width: 100%;
}
 
.side-container {
  flex: 1;
  margin-left: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.template-details-container {
  text-align: left;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrollable-column {
  display: flex;
  flex-direction: column;
}

.column-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
}
 