<div class="job">
  <h2>Job Management</h2>

  <table class="job-table" style="font-family:'Quicksand', sans-serif;">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs" class="job-item">
        <td>{{ job.id }}</td>
        <td>{{ job.FrequencyId }}</td>
        <td>{{ job.SendNotification ? 'Yes' : 'No' }}</td>
        <td>{{ job.deliveryMethods }}</td>
        <td>{{ job.MinRecordCountAlarm }}</td>
        <td>{{ job.MaxRecordCountAlarm }}</td>
        <td>{{ job.MinRunDurationAlarm }}</td>
        <td>{{ job.MaxRunDurationAlarm }}</td>
        <td [style.color]="job.Active ? '#4cf0a1;' : 'red'">
          <ng-container *ngIf="job.Active; else inactive">
            <span class="making-active-attractive">{{ 'Active' }}</span>
          </ng-container>
          <ng-template #inactive>
            <span class="making-inactive-attractive">Inactive</span>
          </ng-template>
        </td>
        <td class="action-cell">
          <button mat-icon-button [style.color]="'#0091EA'" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [style.color]="'#D84315'" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="createNewJob()">Create New Job</button>
</div>
