<div class="client">
  <div class="client-content">
    <h2 class="client-title" style="font-size: 20.667px; font-weight: bold; font-family: 'Quicksand', sans-serif;">
      {{ isViewOnly ? 'View Client' : (isEdit ? 'Edit Client' : 'Create New Client') }}</h2>

    <form class="form-grid">
      <div class="form-row">
        <mat-form-field class="form-item">
          <input [disabled]="isViewOnly" matInput placeholder="Client Name" [(ngModel)]="clientData.clientName" name="clientName" required>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-item">
          <input [disabled]="isViewOnly" matInput placeholder="Client Code" [(ngModel)]="clientData.clientCode" name="clientCode" required>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-item">
          <mat-select [disabled]="isViewOnly" placeholder="Organization Level" [(ngModel)]="selectedOrganization" name="organizationLevel" required>
            <mat-option *ngFor="let org of orgs" [value]="org">{{ org.organizationLevel }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="isEdit" class="form-row">
        <mat-slide-toggle [color]="clientData.active ? 'primary' : 'warn'" [disabled]="isViewOnly" [(ngModel)]="clientData.active" name="active">Active</mat-slide-toggle>
      </div>
      

      
      <div *ngIf="!isViewOnly" class="button-container" style="padding-top: 10px;">
        <button *ngIf="!isEdit"  mat-button class="luxury-modal-button-cancel" (click)="goToClientScreen()"> <span class="icon">&#10006;</span> Cancel</button>
        <button *ngIf="!isEdit"  mat-raised-button class="create-client-button" (click)="createUpdateclient()"><mat-icon style="margin-right: 8px;">done_all</mat-icon>Create Client</button>
        <button *ngIf="isEdit"  mat-button class="luxury-modal-button-cancel" (click)="goToClientScreen()">
          <span class="icon">&#10006;</span> Cancel
        </button>
        <button *ngIf="isEdit"  mat-raised-button class="create-client-button" (click)="createUpdateclient()">
          <mat-icon style="margin-right: 8px;">done_all</mat-icon> Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
