<div class="container">
    <div class="filter-icon" id="filter-icon" (click)="togglePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-filter"
        viewBox="0 0 16 16">
        <path
          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
  
    <div class="custom-dropdown" [ngClass]="{ 'open': isPopupVisible }">
        <div class="popup-content">
          <div class="popup-header">
            <h2>Filter Options</h2>
            <button class="close-button" (click)="togglePopup()">&times;</button>
          </div>
          <div class="filter-fields">
            <h3>Filter by Fields</h3>
            <div class="filter-row">
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.ClientName">Client Name</mat-checkbox>
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.id">ID</mat-checkbox>
            </div>
            <div class="filter-row">
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.CreatedAt">Created At</mat-checkbox>
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.CreatedBy">Created By</mat-checkbox>
            </div>
            <div class="filter-row">
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.UpdatedAt">Updated At</mat-checkbox>
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.UpdatedBy">Updated By</mat-checkbox>
            </div>
            <div class="filter-row">
              <mat-checkbox class="filter-checkbox" [(ngModel)]="selectedFields.Status">Status</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  